li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    color: white;
  }
  
.label {
    font-weight: bold;
  }
  
.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
.form-group {
    margin-bottom: 5px;
  }



h1 {
  text-align: center;
}

#burger-header {
  align-content: center;
}